<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.eunjy.stockid.mapper.user.UserMapper"> 
	
	<select id="getUserInfo" parameterType="UsrGrpVO" resultType="UsrGrpVO"> 
		/* UserMapper.xml.getUserInfo */
		SELECT
			USR_NUM
			, USR_ID
			, USR_PW
			, USR_NM
		    , USR_NICK
			, USR_MOBILE
		    , USR_EMAIL
			, DFLT_GRP_NUM
			, USE_YN
			, REG_ID
			, REG_DT
			, MDFY_ID
			, MDFY_DT
		FROM USR_INFO
		WHERE USE_YN = 'Y'
		AND USR_NUM = #{usrNum}
	</select>

</mapper>
