@charset "utf-8";

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);


/*
* area 
*/
div.top-header {
	height: 5%;
	position: relative;
	padding: 0 10%;
}
div.header {
    position: relative;
	height: 15%;
	width: 100%;
	padding: 0 10%;
    background-color: #444;
    z-index: 1000;
}


/*
* top-header
*/
div.top-header ul {
    position: relative;
	height: 100%;
	float:right;
}
div.top-header ul li {
	display: inline-block;
	position:relative;
	cursor:pointer;	
	margin-right:20px;
	line-height: 30px;
	top:50%; 
	transform:translate(0, -50%);	
	text-align: center; 
	font-size:14px;
	color:#333;
}
div.top-header ul li:first-child {
	cursor:default;	
}
div.top-header ul li:before {
    content: '';
    display: inline-block;
    width: 1px;
	height: 10px;
    margin: 0px 20px 0 0;
    background: #333;
}
div.top-header ul li:first-child:before {
	display:none;
}


/*
* header
*/
div.header ul {
    position: relative;
	width: 100%;
	height: 100%;
}
div.header ul li {
	display: inline-block;
	position:relative; 
	cursor:pointer;	
	width: 8%;
	margin: 0 2% 0 2%;
	line-height:80px;
	top:50%; 
	left:0px; 
	transform:translate(0, -50%);	
	text-align: center; 
	font-size:18px; 
	font-weight:500; 
	color:#DDD;
}

/*
* top-header content
*/
div.top-header .user-name {
	font-weight:500; 
}