@charset "utf-8";

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);


/*
* area 
*/
div.header {
    position: relative;
	height: 10%;
    background-color: #444;
    z-index: 1000;
}