@charset "utf-8";

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

/*
* area 
*/
div.login {
	position: absolute;
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
}

/*
* area (mobile)
*/
@media (max-width:600px) { 
	div.login {
		width: 70%;
	}
}


/*
* login
*/
.login img.logo { width:90%; margin: 0 5% 5% 15px; }
.login p { margin-bottom:10px; }
.login input { width:100%; }
.login .btn-login { display:block; width:100%; font-size:18px; font-weight:500; line-height:49px; border-radius:3px; background:#FFBB00; color:#333333; margin-bottom:10px; }
.login .btn-login:hover, .btn-login:focus { background:#EDA900; }
.login span.join-wrap a:first-child { float:left; margin-left:5px; }
.login span.join-wrap a:last-child { float:right; display:inline-block; text-align:right; margin-right:7px; }

/*
* join
*/
.login span.pw-noti { width:100%; display: inline-block; text-align:left; font-size:12px; color:#00E; margin:0 0 10px 10px; }
.login span.pw-noti:after { content:'* 비밀번호 일치' }
.login span.pw-noti.red { color:#E00; }
.login span.pw-noti.red:after { content:'* 비밀번호 불일치' }
.login .btn-join { display:block; width:100%; font-size:16px; font-weight:500; line-height:40px; border-radius:3px; background:#FFBB00; color:#333333; margin-bottom:10px; }
.login .btn-join:hover, .btn-join:focus { background:#EDA900; }
.login .save-wrap { display:block; }
.login .save-wrap .btn-half { display:inline-block; width:195px; }
.login .save-wrap .btn-half:first-child { margin-right:5px; float:left; }
.login .save-wrap .btn-half:last-child { float:right; }

/*
* group select
*/
.login .tit-wrap { vertical-align:center; min-height:50px; } 
.login .tit-wrap span:first-child { float:left; font-size:14px; font-weight:500; }
.login .tit-wrap span:last-child { float:right; display:inline-block; text-align:right; margin-right:7px; font-size:12px; }
.login .tit-wrap span:last-child:hover, .login .tit-wrap span:last-child:focus { cursor:pointer; }
.login .no-grp-wrap { padding-bottom:20px; }
.login .no-grp-wrap p { font-size:18px; font-weight:500; width:100%; text-align:center; }
.login .grp-wrap { border-bottom:1px solid #DFDFDF; padding-bottom:20px; }
.login .grp-wrap > ul > li { font-size:18px; font-weight:500; line-height:40px; }
/*background-position:center; background-repeat:no-repeat ; background-image:url(../image/common/setting.png); background-size:50%;*/
.login .grp-wrap > ul > li > .grpMain { display: inline-block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width: 360px; }
.login .grp-wrap > ul > li > .grpMain:hover, .login .grp-wrap > ul > li > .grpMain:focus { color:#E00; cursor:pointer; }
.login .grp-wrap > ul > li > .grpSetting { float:right; display:inline-block; text-align:right; width:40px; color:#00000000; background:center/15px no-repeat url(../image/common/setting.png); }
.login .grp-wrap > ul > li > .grpSetting:hover, .login .grp-wrap > ul > li > .grpSetting:focus { cursor:pointer; }
.login .btn-wrap { margin:20px 0 0 0; }
.login .btn-crt-grp { display:block; width:100%; font-size:16px; font-weight:500; line-height:49px; border-radius:3px; background:#FFBB00; color:#333333; margin-bottom:10px; }
.login .btn-crt-grp:hover, .btn-crt-grp:focus { background:#EDA900; }
.login .btn-join-grp { display:block; width:100%; font-size:16px; font-weight:500; line-height:49px; border-radius:3px; background:#FFBB00; color:#333333; margin-bottom:10px; }
.login .btn-join-grp:hover, .btn-join-grp:focus { background:#EDA900; }
.login span.grp-noti { width:100%; display: inline-block; text-align:center;}
.login span.grp-noti.red { color:#E00; margin-top:5px; }

/*
* login & group select (mobile)
*/
@media (max-width:600px) { 
	.login .grp-wrap > ul > li > span:first-child { max-width:90%;  }
	.login .grp-wrap > ul > li > span:last-child { width:10%; }
}