@charset "utf-8";

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);


/*
* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess
 */
/*@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans KR Thin'), local('Noto Sans CJK KR Thin'),
    url(../font/NotoSansKR-Thin.woff2) format('woff2'),
    url(../font/NotoSansKR-Thin.woff) format('woff'),
    url(../font/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans KR Light'), local('Noto Sans CJK KR Light'),
    url(../font/NotoSansKR-Light.woff2) format('woff2'),
    url(../font/NotoSansKR-Light.woff) format('woff'),
    url(../font/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans KR Regular'), local('Noto Sans CJK KR Regular'),
    url(../font/NotoSansKR-Regular.woff2) format('woff2'),
    url(../font/NotoSansKR-Regular.woff) format('woff'),
    url(../font/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans KR Medium'), local('Noto Sans CJK KR Medium'),
    url(../font/NotoSansKR-Medium.woff2) format('woff2'),
    url(../font/NotoSansKR-Medium.woff) format('woff'),
    url(../font/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans KR Bold'), local('Noto Sans CJK KR Bold'),
    url(../font/NotoSansKR-Bold.woff2) format('woff2'),
    url(../font/NotoSansKR-Bold.woff) format('woff'),
    url(../font/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: local('Noto Sans KR Black'), local('Noto Sans CJK KR Black'),
    url(../font/NotoSansKR-Black.woff) format('woff'),
    url(../font/NotoSansKR-Black.otf) format('opentype');
}
*/

/* 
* Reset 
*/
body, h1, h2, h3, h4, h5, h6,
div, p, blockquote, pre, address,
ul, ol, li, dl, dt, dd,
table, caption, th, td,
form, fieldset, legend, label,
hr {
	margin:0;
	padding:0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
}
ul, ol {
	list-style:none;
}
table {
	margin:0;
	padding:0;
	font-size:14px;
	border-spacing:0;
	border:0;
	_border-collapse:collapse;
}
*+html table {border-collapse:collapse;}
img, fieldset, abbr, acronym {
	border:0;
}
address, caption, cite, code, dfn, em, var {
	font-style:normal;
	font-weight:normal;
}
q:before, q:after {
	content: '';
}
input, select, button, textarea {
	color:#333;
	font-size:100%;
	font-family: "Noto Sans KR", sans-serif;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align:top;
}
button:active, a:active, button:focus, a:focus{
    outline: dotted 1px;
}

/*
* Base 
*/
html {
	height:100%;
	-webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
body {
	height:100%;
	font-size:14px;
	font-family: "Noto Sans KR", sans-serif;
	line-height:21px;
	color:#333;
	letter-spacing:-1px;
	/*overflow:auto;*/
	/*-webkit-font-smoothing:antialiased;*/
}
hr {display:none}
caption, legend {
	width:0;
	height:0;
	line-height:0;
	overflow:hidden;
	font-size:0;
}
a {
	color:inherit;
	text-decoration:none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a:-moz-focusring {
	outline-color:#000;
}
a:focus, a:hover {
	color:#E00;
}
input[type='text'],
input[type='password'] {height:40px; padding:0 12px; border:1px solid #dcdcdc; background:#fff; font-size:14px; font-weight:500; color:#333; font-family: "Noto Sans KR", sans-serif; border-radius:0; -webkit-border-radius:0; -moz-border-radius:0;}
input[type='text']::-ms-clear {display:none;}
input[type='password']::-ms-reveal {display:none;}
*::-webkit-input-placeholder {color:#767676; font-family: "Noto Sans KR", sans-serif; font-weight:500;}
*::-moz-placeholder {color:#767676; font-family: "Noto Sans KR", sans-serif; font-weight:500;}
*:-ms-input-placeholder {color:#767676; font-family: "Noto Sans KR", sans-serif; font-weight:500;}
*:-moz-placeholder {color:#767676; font-family: "Noto Sans KR", sans-serif; font-weight:500;}
input[type='text']:disabled,
input[type='password']:disabled { background:#eee; }
textarea {
	width:100%;
	height:80px;
	padding:12px;
	border:1px solid #dcdcdc;
	background:#fff;
	font-family: "Noto Sans KR", sans-serif;
	font-size:14px;
	line-height:21px;
}
textarea.length-300 { height:160px; }
/*textarea.textarea:focus {outline:1px solid blue;}
input:focus {outline:none;}*/
label,
input.button, input.submit , input.image,input[type='submit'],input[type='button'],input[type='images'],
button {
	border:none;
	cursor:pointer;
	vertical-align:top;
}

label.radio { display:inline-block; }
label.radio:not(:last-child) { margin-right:5px; }
input[type="checkbox"] { width:21px; height:21px; margin:0; }
input[type="radio"] { width:21px !important; height:21px !important; margin:0 5px 0 0; }

textarea, pre {
	overflow:auto;
	resize:none;
}
select {
	height:39px;
	padding:0 34px 0 12px;
	border:1px solid #dcdcdc;
	background:#fff url(../images/common/bl_select.png) no-repeat 100% 50%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	font-size:14px;
	color:#333;
	cursor:pointer;
}
select::-ms-expand { /* for IE 11 */
	display:none;
}
.hide {
	display:none !important;
}
.clearfix:after  {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix   {display: block;}
/* End hide from IE-mac */


/*
* area 
*/
div.container {
    position: relative;
	width: 100%;
    height: 80%;
    padding: 5%;
}
div.sub-container {
    position: absolute;
    display:inline-block;
    height: 500px;
	width: 500px;
	top: 50%;
	left: 50%;
	margin:0 0 0 -250px;
	border:1px solid #dcdcdc;
}


/*
* button
*/
.btn-big { display:inline-block; padding:0 65px; font-size:18px; font-weight:500; line-height:49px; border-radius:3px; }
.btn-mid { display:inline-block; padding:0 36px; font-size:16px; font-weight:500; line-height:39px; border-radius:3px; }
.btn-small { display:inline-block; padding:0 15px; font-size:14px; font-weight:500; line-height:35px; border-radius:3px; }
.btn-tiny { display:inline-block; padding:0 5px; font-size:14px; font-weight:500; line-height:30px; border-radius:2px; }
.btn-yellow { background:#FFBB00; color:#333333; }
.btn-yellow:hover, .btn-yellow:focus { color:#333333; }
.btn-dark-gray { background:#5E6D82; color:#FFFFFF; }
.btn-dark-gray:hover, btn-dark-gray:focus {color:#FFFFFF;}
button.disabled { background:rgba(0,0,0,0.2) !important; color:#FFFFFF !important; cursor:default !important; }
button.disabled:hover, button.disabled:focus { background:rgba(0,0,0,0.2) !important; }


/*
* title
*/
.page-title { padding-top:32px; font-size:38px; font-weight:500; line-height:50px; color:#505256; text-align:center; }
.page-sub-title-style { display:inline-block; width:100%; margin-top:10px; padding-bottom:18px; }
.page-sub-title-style .sub-title { position:relative; display:inline-block; margin-right:14px; padding-top:13px; font-size:20px; font-weight:500; line-height:30px; color:#000; vertical-align:middle; }
.page-sub-title-style .sub-title:after { content:''; position:absolute; top:0; left:0; width:30px; height:3px; background:#fd9440; }
.page-sub-title-style .title-text { display:inline-block; margin-right:7px; padding-top:13px; vertical-align:middle; }
.page-sub-title-style .title-text:before { content:'\203B'; margin-right:2px; font-size:14px; font-weight:500; line-height:21px; color:#f17f21; }
.page-sub-title-style .title-text .fc-red {color:#e60021;}
.page-sub-title-style .title-more { position:relative; display:inline-block; padding-top:13px; font-weight:500; text-decoration:underline; vertical-align:middle; }
.page-sub-title-style .title-more:after { content:''; position:absolute; top:17px; right:-18px; width:8px; height:14px; background:url(../images/common/bg_title_more.png) no-repeat 0 0; }
.page-sub-title-style .title-more:hover, .page-sub-title-style .title-more:focus { color:#333; }
.page-sub-title-style .title-btn { float:right; padding-top:2px; }
.page-sub-title-style .title-sum {margin-right:10px;font-weight:500;font-size:16px;color:#000;letter-spacing:1px;}
.page-sub-title-style .title-sum strong {color:#fb5b1c;}
.page-sub-title-style .title-sum.block {display:block;margin-top:17px;}
.sub-title-text { margin-top:-8px; padding-bottom:24px; font-size:16px; line-height:26px; color:#505256; }
.sub-title-text2 {font-size:14px;color:#000;font-weight:500;}


/* 
* board 
*/
.list-board { border-top:1px solid #676c73; }
.list-board table { width:100%; table-layout:fixed; }
.list-board th { padding:14px 0; border-bottom:1px solid #a4abb5; font-size:15px; font-weight:500; line-height:26px; color:#000; }
.list-board td { padding:17px 0; border-bottom:1px solid #d7d7d7; color:#333; text-align:center; }
.list-board td.noti-icon { padding:0; font-size:0; line-height:0; vertical-align:middle; }
.list-board td.subject { padding-left:20px; padding-right:20px; text-align:left; }
.list-board td.subject a { overflow:hidden; display:block; width:100%; /*text-overflow:ellipsis; word-wrap:normal; white-space:nowrap;*/ }
.list-board td.subject a span {vertical-align:middle;}
.list-board td.impossible{color:#e60021;}
.list-board td.finish{color:#3475cf;}
.list-board td.no-list{padding: 56px 0 57px;font-size:16px;color:#767676;}
.list-board td.no-list2 {padding:20px 0;font-size:14px;color:#000;}
.list-board td.td-left { padding-left:20px; padding-right:20px; text-align:left; }
.list-board td.td-right { padding-left:0; padding-right:12px; text-align:right; }
.list-board td .status-ing { display:block; color:#3475cf; }
.list-board td .status-schedule { display:block; color:#e70f62; }
.list-board td .icon-new { display:inline-block; width:20px; height:20px; margin-right:6px; background:url(../images/common/icon_new.png) no-repeat 0 0; font-size:0; line-height:0; vertical-align:middle; }
.list-board td .icon-notopen{display:inline-block; width:20px; height:20px; background:url(../images/cl/bl_not_open.png) no-repeat 0 0; font-size:0; line-height:0; vertical-align:middle;}
.list-board .exception td {background-color:#fefcf6;}

.form-board { border-top:1px solid #676c73; margin-bottom:50px; }
.form-board:last-child { margin-bottom:0px; }
.form-board table { width:100%; table-layout:fixed; }
.form-board th { padding:17px 0; border-bottom:1px solid #d7d7d7; border-left:1px solid #d7d7d7; background:#f8f8f8; font-size:14px; font-weight:500; }
.form-board th:first-child { border-left:0; }
.form-board th span.mendatory{width:0;height:0;font-size:0;line-height:0;text-indent:-9999px;}
.form-board th span.mendatory:before{content:'';display:inline-block;width:5px;height:5px;background:#e70c2b;border-radius:50%;vertical-align:3px;margin-right:8px;}
.form-board td { padding:17px 20px; border-bottom:1px solid #d7d7d7; border-left:1px solid #d7d7d7; }
.form-board td:first-child { border-left:0; }
.form-board td.input-td {padding:8px 20px 7px; font-size:0; line-height:0;}
.form-board td.input-td input, .form-board td.input-td select { margin-right:5px; }
.form-board td.input-td .cmt {display:inline-block;margin-left:10px;font-size:12px;line-height:39px;vertical-align:middle;letter-spacing:-0.05em;}
.form-board td.input-td .cmt:before {content: '\203B';margin-right: 2px;font-size: 12px;font-weight: 500;line-height: 21px;color: #f17f21;}
.form-board td.input-td .cmt.break {display:block;margin-left:0;}
.form-board td.td-center{text-align:center;}
.form-board td span.item-txt {line-height:30px;}
.form-board td button.btn-tiny {line-height:30px; margin-left:10px;}
.form-board .td-memeber {padding-bottom:5px;}
.form-board .td-memeber span {display:inline-block;margin-right:25px;margin-bottom:15px;}