@charset "utf-8";

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);


/*
* area (mobile)
*/
@media (max-width:600px) { 
	div.top-header {
		display:none;
	}
	div.header {
		height: 7%;
		padding: 0 5%;
	}
	div.container {
		height: 93%;
	}
	div.usr-grp {
		width: 70%;
	}
}


/*
* header
*/
@media (max-width:600px) { 
	div.header ul li {
		line-height:60px;
		font-size:16px; 
	}
}


/*
* login & group select (mobile)
*/
@media (max-width:600px) { 
	.usr-grp .grp-wrap > ul > li > span:first-child { max-width:90%;  }
	.usr-grp .grp-wrap > ul > li > span:last-child { width:10%; }
}